extends layout

block content

    .row
        .col-sm
            .card.mb-2
                .card-header
                    h5 #{title}
                .card-body
                    p Welcome to #{title}
    
